.iconButton{
  transition: all 0.2s ease !important;
}

.iconButton:hover{
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);}

.todoCard{
  transition: all 0.2s ease !important;
}  

.todoCard:hover{
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-bottom: 20px}


@font-face {
  font-family: Alexandria;
  src: url(../public/fonts/Alexandria-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url(../public/fonts/Alexandria-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Alexandria;
  src: url(../public/fonts/Alexandria-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Alexandria;
  src: url(../public/fonts/Alexandria-Light.ttf);
  font-weight: 200;
}